@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

header {
  background-image: url("../images/soup.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
  position: relative;
}

h1 {
  color: white;
  font-size: 2rem;
  font-weight: 300;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

p {
  font-size: 0.75rem;
  font-weight: 200;
  margin: 2rem;
}

.infos {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
}

hr {
  margin: 1rem;
}

h2 {
  font-weight: 300;
  font-size: 1rem;
  margin: 1rem;
}

.ingredients, .directions {
  margin: 2rem;
}

ul, ol {
  font-size: 0.75rem;
  margin-left: 2rem;
}

ul{
  list-style-type: '-';
}